[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "lib/v2-testnet-contracts"]
	path = lib/v2-testnet-contracts
	url = https://github.com/matter-labs/v2-testnet-contracts
[submodule "lib/zkBridge-lightClient"]
	path = lib/zkBridge-lightClient
	url = https://github.com/TusimaNetwork/zkBridge-lightClient
